In [1]:
import findspark
findspark.init()

In [2]:
from pyspark import SparkContext
sc = SparkContext("local", "KeyValuePairRDD")

22/05/05 19:58:07 WARN Utils: Your hostname, ubuntu-virtual-machine resolves to a loopback address: 127.0.1.1; using 192.168.174.129 instead (on interface ens33)
22/05/05 19:58:07 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
22/05/05 19:58:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/05 19:58:13 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/05/05 19:58:13 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [3]:
# Key Value pair formed from tuple, where as first element in tuple is known as key
# second element known as value
# (key, value)
# apple is key, 20 is value
data = [
    ('apple', 20),
    ('orange', 30),
    ('apple', 10),
    ('mango', 50),
    ('orange', 15),
     ('mango', 10),
     ('apple', 5),
]

rdd = sc.parallelize(data)

In [4]:
# find the count keys
# for rdd functions with "Key" can use this dataset
# in KEy Value pair RDD, the first element in tuple considered to be key, second element considered to be value
result = rdd.countByKey() # action
result # result is dictionary, it returns count of keys

defaultdict(int, {'apple': 3, 'orange': 2, 'mango': 2})

In [6]:
# reduce refers to aggregation
# find the total kilogram of fruits sold (apple - 30, orange - 30, mongo - 50), sum of kilograms of fruits sold
# reduceByKey , useful for sum or custom code
# lambda function here woun't be called first time when key found
# first time key value pair used for initialization
"""
Input
('apple', 20) <- apple is first time, this value directly placed in table, lambda not called
('orange', 30) <- orange is first time, this value directly placed in table, lambda not called
('apple', 10) <- apple is second time, lambda shall be called
                 lambda has two params, acc, value
                 acc value taken from table shown below, value from record 
                 acc = 20, value  10
                 (20, 10) => acc + value = (20 + 10) = 30, this value updated in table
('mango', 50)<- first time, lambda not called, values directly placed
 ('orange', 15) <- DIY
 ('mango', 10) <- DIY
 ('apple', 5 <- DIY
 
assume there is a table inside reduceByKey func

Key       acc
apple      30
orange     30
mango      50


"""
# acc is just variable, called accumulator
# value is from rdd, 20, 30, 10 ,50
# lambda takes 2 arguments, acc is accumulator based on key, value is from record/tuple
result = rdd.reduceByKey(lambda acc, value: acc + value) # TRANSFORAMTION
result.collect()

[('apple', 35), ('orange', 45), ('mango', 60)]

In [8]:
resultRdd = rdd.groupByKey() # transformation, group the values by key
 
results = resultRdd.collect()

for key, valueItr in results:
    print("Group ", key, valueItr)
    # iterator the result to get the actual data
    for value in valueItr:
        print ("\tVAlue ", value)

Group  apple <pyspark.resultiterable.ResultIterable object at 0x7fa8e40fd9d0>
	VAlue  20
	VAlue  10
	VAlue  5
Group  orange <pyspark.resultiterable.ResultIterable object at 0x7fa8e4182d90>
	VAlue  30
	VAlue  15
Group  mango <pyspark.resultiterable.ResultIterable object at 0x7fa8e4182340>
	VAlue  50
	VAlue  10

----------------------------------------
Exception happened during processing of request from ('127.0.0.1', 44902)
Traceback (most recent call last):
  File "/home/ubuntu/miniconda3/lib/python3.8/socketserver.py", line 316, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/home/ubuntu/miniconda3/lib/python3.8/socketserver.py", line 347, in process_request
    self.finish_request(request, client_address)
  File "/home/ubuntu/miniconda3/lib/python3.8/socketserver.py", line 360, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/home/ubuntu/miniconda3/lib/python3.8/socketserver.py", line 747, in __init__
    self.handle()
  File "/opt/spark-3.1.3-bin-hadoop2.7/python/pyspark/accumulators.py", line 262, in handle
    poll(accum_updates)
  File "/opt/spark-3.1.3-bin-hadoop2.7/python/pyspark/accumulators.py", line 235, in poll
    if func():
  File "/opt/spark-3.1.3-bin-hadoop2.7/python/pyspark/accumulators.py", line 239, in accum_updates
    num_updates = read_int(self.rfile)
  File "/opt/spark-3.1.3-bin-hadoop2.7/python/pyspark/serializers.py", line 564, in read_int
    raise EOFError
EOFError
----------------------------------------