In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.conf import SparkConf
config = SparkConf()
# config.set("property", "value")
config.setMaster("local").setAppName("SparkHiveDatabase")

# centarlized hive meta server
# hdfs hive for data warehouse
# enable hive support must for sql database
 
config.set("spark.local.dir", "/home/ubuntu/spark-temp")

# while using hive.metastore.warehouse.dir, we should not use spark warehouse dir

config.set("hive.metastore.uris", "thrift://localhost:9083")
config.set("hive.metastore.warehouse.dir", "hdfs://localhost:9000/user/hive/warehouse")


from pyspark.sql import SparkSession
# spark Session, entry point for Spark SQL, DataFrame

# enableHiveSupport() now using hive meta server running as server
# multiple notebooks can share hive meta server, work in parallel
# we use hive warehouse directory for spark too, this way hive and spark can co-exists
# metastore shall have meta data: database, tables, columns, data types, where exactly
# data located in hdfs or file system or s3

spark = SparkSession.builder\
                    .config(conf=config)\
                    .enableHiveSupport()\
                    .getOrCreate()

sc = spark.sparkContext

Warning: Ignoring non-Spark config property: hive.metastore.uris
Warning: Ignoring non-Spark config property: hive.metastore.warehouse.dir
22/05/16 21:03:38 WARN Utils: Your hostname, ubuntu-virtual-machine resolves to a loopback address: 127.0.1.1; using 192.168.174.129 instead (on interface ens33)
22/05/16 21:03:38 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
22/05/16 21:03:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/16 21:03:41 WARN SparkConf: Note that spark.local.dir will be overridden by the value set by the cluster manager (via SPARK_LOCAL_DIRS in mesos/standalone/kubernetes and LOCAL_DIRS in YARN).

In [3]:
spark

In [5]:
# should display all hive databases
spark.sql("SHOW DATABASES").show()

+----------+
| namespace|
+----------+
|   default|
|   moviedb|
|  ordersdb|
|productsdb|
+----------+

In [6]:
spark.sql("SHOW TABLES IN moviedb").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
| moviedb|   movies|      false|
| moviedb|  ratings|      false|
+--------+---------+-----------+

In [7]:
#DIY
# 1.select 10 movies and show
# 2. select 10 ratings and show
# 3. Refer Temp table sql, now run analytical query on ratings table
#    find avg rating, count of users [ratings count] group by movieID no temp tale, only select

# 4. Create temp view called "popular_movies", to get avg rating, users count group by movieid, 
     # filter avg rating >= 3.5 and users count >= 100
    
# 5. spark.sql("select * from popular_movies").show()

In [8]:
spark.sql("SELECT * FROM moviedb.ratings LIMIT 10").show()

+-------+--------+------+----------------+
|user_id|movie_id|rating|rating_timestamp|
+-------+--------+------+----------------+
|   null|    null|  null|            null|
|      1|       1|     4|       964982703|
|      1|       3|     4|       964981247|
|      1|       6|     4|       964982224|
|      1|      47|     5|       964983815|
|      1|      50|     5|       964982931|
|      1|      70|     3|       964982400|
|      1|     101|     5|       964980868|
|      1|     110|     4|       964982176|
|      1|     151|     5|       964984041|
+-------+--------+------+----------------+

In [9]:
spark.sql("SELECT * FROM moviedb.movies LIMIT 10").show()

+--------+--------------------+--------------------+
|movie_id|               title|              genres|
+--------+--------------------+--------------------+
|    null|               title|              genres|
|       1|    Toy Story (1995)|Adventure|Animati...|
|       2|      Jumanji (1995)|Adventure|Childre...|
|       3|Grumpier Old Men ...|      Comedy|Romance|
|       4|Waiting to Exhale...|Comedy|Drama|Romance|
|       5|Father of the Bri...|              Comedy|
|       6|         Heat (1995)|Action|Crime|Thri...|
|       7|      Sabrina (1995)|      Comedy|Romance|
|       8| Tom and Huck (1995)|  Adventure|Children|
|       9| Sudden Death (1995)|              Action|
+--------+--------------------+--------------------+

In [12]:
spark.sql("""
 SELECT movie_id, avg(rating) as avg_ratings, 
                                    count(user_id) as total_ratings
                        from moviedb.ratings 
                        WHERE rating > 1.0
                        group by movie_id
""").show()

+--------+-----------+-------------+
|movie_id|avg_ratings|total_ratings|
+--------+-----------+-------------+
|    1580|     3.6852|          162|
|    2366|     3.7200|           25|
|    1088|     3.7692|           39|
|   32460|     4.5000|            4|
|   44022|     3.5909|           22|
|   96488|     4.5000|            4|
|    1238|     4.1111|            9|
|    1342|     3.0000|            9|
|    1591|     3.0909|           22|
|    1645|     3.6531|           49|
|    3175|     3.7671|           73|
|    4519|     3.4444|            9|
|    2142|     3.0000|            9|
|     471|     3.7895|           38|
|    3997|     2.5000|            8|
|     833|     2.7500|            4|
|    3918|     3.6250|            8|
|    7982|     4.6667|            3|
|    1959|     3.8000|           15|
|   68135|     3.9000|           10|
+--------+-----------+-------------+
only showing top 20 rows

In [13]:
spark.sql("""CREATE OR REPLACE TEMP VIEW most_popular_temp_table AS 
                    SELECT movie_id, avg(rating) as avg_ratings, 
                                    count(user_id) as total_ratings
                        from moviedb.ratings 
                        WHERE rating > 1.0
                        group by movie_id 
                        having avg_ratings >= 3.5 and total_ratings >= 100
                        order by avg_ratings desc
                    """)

DataFrame[]

In [14]:
spark.sql("SHOW TABLES").show()

+--------+--------------------+-----------+
|database|           tableName|isTemporary|
+--------+--------------------+-----------+
| default|              brands|      false|
| default|           employees|      false|
|        |most_popular_temp...|       true|
+--------+--------------------+-----------+

In [15]:
spark.sql("SELECT * FROM most_popular_temp_table").show(10)

+--------+-----------+-------------+
|movie_id|avg_ratings|total_ratings|
+--------+-----------+-------------+
|     318|     4.5524|          315|
|   48516|     4.5000|          106|
|    2959|     4.4884|          215|
|     527|     4.4601|          213|
|    2571|     4.4312|          269|
|   58559|     4.4295|          149|
|    1221|     4.4252|          127|
|     858|     4.4136|          191|
|    4226|     4.4065|          155|
|      50|     4.4059|          202|
+--------+-----------+-------------+
only showing top 10 rows

In [16]:
# DIY
# 1. join most_popular_temp_table temp view with moviedb.movies on movie_id, so that
#  select movie id, title, avg rating, count of ratings

#2. Create a permanent table called popular_movies under moviedb from result of query 1

# CTAS CREATE OR REPLACE TABLE  moviedb.popular_movies AS
      # followed by query 1

In [18]:
spark.sql("""
SELECT mp.movie_id, title, avg_ratings, total_ratings 
    FROM most_popular_temp_table mp
    INNER JOIN moviedb.movies m ON mp.movie_id = m.movie_id
""").show(10)

22/05/16 23:51:54 WARN LazyStruct: Extra bytes detected at the end of the row! Ignoring similar problems.

+--------+--------------------+-----------+-------------+
|movie_id|               title|avg_ratings|total_ratings|
+--------+--------------------+-----------+-------------+
|    1580|Men in Black (a.k...|     3.6852|          162|
|    1721|      Titanic (1997)|     3.6716|          134|
|     858|          "Godfather|     4.4136|          191|
|    1270|Back to the Futur...|     4.2071|          169|
|    1265|Groundhog Day (1993)|     4.1135|          141|
|     588|      Aladdin (1992)|     3.9006|          181|
|     296| Pulp Fiction (1994)|     4.3846|          299|
|   68954|           Up (2009)|     4.2115|          104|
|   58559|        "Dark Knight|     4.4295|          149|
|     593|"Silence of the L...|     4.3164|          275|
+--------+--------------------+-----------+-------------+
only showing top 10 rows

In [ ]:
spark.sql("""
CREATE OR REPLACE TABLE moviedb.popular_movies AS
SELECT mp.movie_id, title, avg_ratings, total_ratings 
    FROM most_popular_temp_table mp
    INNER JOIN moviedb.movies m ON mp.movie_id = m.movie_id
""").show(10)