In [1]:
val movieDf = spark.read.format("csv")
                    .option("header", true)
                    .option("inferSchema", true)
                    .option("delimitter", ",")
                    .load("hdfs://localhost:9000/ml-latest-small/movies.csv")

movieDf.printSchema()
movieDf.show(2)

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.174.129:4040
SparkContext available as 'sc' (version = 3.1.3, master = local[*], app id = local-1652365162677)
SparkSession available as 'spark'

root
 |-- movieId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)

+-------+----------------+--------------------+
|movieId|           title|              genres|
+-------+----------------+--------------------+
|      1|Toy Story (1995)|Adventure|Animati...|
|      2|  Jumanji (1995)|Adventure|Childre...|
+-------+----------------+--------------------+
only showing top 2 rows

movieDf: org.apache.spark.sql.DataFrame = [movieId: int, title: string ... 1 more field]

In [2]:
// create schema
import org.apache.spark.sql.types.{StringType, StructType, DoubleType, IntegerType, LongType, StructField}

val RatingSchema = StructType (
                                List(
                                    StructField("userId", IntegerType, true),
                                    StructField("movieId", IntegerType, true),
                                      StructField("rating", DoubleType, true),
                                      StructField("timestamp", LongType, true)
                                    )
                    )

import org.apache.spark.sql.types.{StringType, StructType, DoubleType, IntegerType, LongType, StructField}
RatingSchema: org.apache.spark.sql.types.StructType = StructType(StructField(userId,IntegerType,true), StructField(movieId,IntegerType,true), StructField(rating,DoubleType,true), StructField(timestamp,LongType,true))

In [3]:
val ratingDf = spark.read.format("csv")
                    .option("header", true)
                    .option("delimitter", ",")
                    .schema(RatingSchema)
                    .load("hdfs://localhost:9000/ml-latest-small/ratings.csv")

ratingDf.printSchema()
ratingDf.show(2)

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: long (nullable = true)

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
+------+-------+------+---------+
only showing top 2 rows

ratingDf: org.apache.spark.sql.DataFrame = [userId: int, movieId: int ... 2 more fields]

In [4]:
// Spark SQL, temp view/temp table created with in spark session
// we can expose the dataframe as table/temp table/view
// no table space, row space created by spark, instaed it is same dataframe and rdd behind sql
movieDf.createOrReplaceTempView("movies")

In [7]:
// now we can use sql queries on movies
// when we execute sql, we get dataframe
val df = spark.sql("SELECT * FROM movies")
df.printSchema()
df.show(2)
df.explain()

root
 |-- movieId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)

+-------+----------------+--------------------+
|movieId|           title|              genres|
+-------+----------------+--------------------+
|      1|Toy Story (1995)|Adventure|Animati...|
|      2|  Jumanji (1995)|Adventure|Childre...|
+-------+----------------+--------------------+
only showing top 2 rows

== Physical Plan ==
FileScan csv [movieId#16,title#17,genres#18] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex[hdfs://localhost:9000/ml-latest-small/movies.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<movieId:int,title:string,genres:string>

df: org.apache.spark.sql.DataFrame = [movieId: int, title: string ... 1 more field]

In [8]:
ratingDf.createOrReplaceTempView("ratings")

In [9]:
val df = spark.sql("SELECT * FROM ratings")
df.printSchema()
df.show(2)
df.explain()

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: long (nullable = true)

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
+------+-------+------+---------+
only showing top 2 rows

== Physical Plan ==
FileScan csv [userId#38,movieId#39,rating#40,timestamp#41L] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex[hdfs://localhost:9000/ml-latest-small/ratings.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<userId:int,movieId:int,rating:double,timestamp:bigint>

df: org.apache.spark.sql.DataFrame = [userId: int, movieId: int ... 2 more fields]

In [14]:
// DIY spark sql
// select 5 reocrds from movies where convert  movie title  in upper case
// select distinct rating from ratings and sort the rating
val df2 = spark.sql("SELECT movieId, upper(title), genres from movies LIMIT 5")
df2.show()
// asc
val df3 = spark.sql("SELECT DISTINCT(rating) FROM ratings ORDER BY rating")
df3.show()

// desc
val df4 = spark.sql("SELECT DISTINCT(rating) FROM ratings ORDER BY rating DESC")
df4.show()

+-------+--------------------+--------------------+
|movieId|        upper(title)|              genres|
+-------+--------------------+--------------------+
|      1|    TOY STORY (1995)|Adventure|Animati...|
|      2|      JUMANJI (1995)|Adventure|Childre...|
|      3|GRUMPIER OLD MEN ...|      Comedy|Romance|
|      4|WAITING TO EXHALE...|Comedy|Drama|Romance|
|      5|FATHER OF THE BRI...|              Comedy|
+-------+--------------------+--------------------+

+------+
|rating|
+------+
|   0.5|
|   1.0|
|   1.5|
|   2.0|
|   2.5|
|   3.0|
|   3.5|
|   4.0|
|   4.5|
|   5.0|
+------+

+------+
|rating|
+------+
|   5.0|
|   4.5|
|   4.0|
|   3.5|
|   3.0|
|   2.5|
|   2.0|
|   1.5|
|   1.0|
|   0.5|
+------+

df2: org.apache.spark.sql.DataFrame = [movieId: int, upper(title): string ... 1 more field]
df3: org.apache.spark.sql.DataFrame = [rating: double]
df4: org.apache.spark.sql.DataFrame = [rating: double]

In [15]:
// DIY select all ratings where rating >=4 and <=5 
val df = spark.sql("SELECT * FROM RATINGS WHERE rating >= 4 AND rating <= 5")
df.show(2)

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
+------+-------+------+---------+
only showing top 2 rows

df: org.apache.spark.sql.DataFrame = [userId: int, movieId: int ... 2 more fields]

In [25]:
// SELECT AVG rating of movie,  Count userId
//  group by movieId, show the data in decending order of avg rating, exclude rating <= 1.0
// filter the data based on avg_ratings , avg_ratings should be >= 3.5 and rated users count should be >= 100
// Aggregate filter = HAVING
// non aggregate fitler = WHERE
val mostPopularMoviesDf = spark.sql("""
                    SELECT movieId, avg(rating) as avg_ratings, 
                                    count(userId) as total_ratings
                        from ratings 
                        WHERE rating > 1.0
                        group by movieId 
                        having avg_ratings >= 3.5 and total_ratings >= 100
                        order by avg_ratings desc
                    """)
mostPopularMoviesDf.show(5)
mostPopularMoviesDf.count()

+-------+-----------------+-------------+
|movieId|      avg_ratings|total_ratings|
+-------+-----------------+-------------+
|    318|4.450793650793651|          315|
|    527|4.335680751173709|          213|
|   2959|4.325581395348837|          215|
|   1221|4.311023622047244|          127|
|   2571|4.308550185873606|          269|
+-------+-----------------+-------------+
only showing top 5 rows

mostPopularMoviesDf: org.apache.spark.sql.DataFrame = [movieId: int, avg_ratings: double ... 1 more field]
res21: Long = 113

In [28]:
// DIY,
// mostPopularMoviesDf.createorrepl...... create a temp view called most_popular_movies
//  join with movies + most_popular_movies temp view based on movie_id
// then movieId, title, avg_ratings, total_ratings and sort by total_ratings desc

mostPopularMoviesDf.createOrReplaceTempView("most_popular_movies")

val df = spark.sql("""SELECT most_popular_movies.movieid, title, avg_ratings, total_ratings
                      FROM most_popular_movies
                      INNER JOIN movies ON movies.movieId = most_popular_movies.movieId
                      ORDER BY total_ratings DESC
                      """)
df.show(5)

+-------+--------------------+-----------------+-------------+
|movieid|               title|      avg_ratings|total_ratings|
+-------+--------------------+-----------------+-------------+
|    356| Forrest Gump (1994)|4.185015290519877|          327|
|    318|Shawshank Redempt...|4.450793650793651|          315|
|    296| Pulp Fiction (1994)|4.285953177257525|          299|
|    593|Silence of the La...|4.212727272727273|          275|
|   2571|  Matrix, The (1999)|4.308550185873606|          269|
+-------+--------------------+-----------------+-------------+
only showing top 5 rows

df: org.apache.spark.sql.DataFrame = [movieid: int, title: string ... 2 more fields]

In [30]:
// alais name
mostPopularMoviesDf.createOrReplaceTempView("most_popular_movies")

val popularMoviesDf = spark.sql("""SELECT mpm.movieid, title, avg_ratings, total_ratings
                      FROM most_popular_movies mpm
                      INNER JOIN movies m ON m.movieId = mpm.movieId
                      ORDER BY total_ratings DESC
                      """)
popularMoviesDf.show(5)

+-------+--------------------+-----------------+-------------+
|movieid|               title|      avg_ratings|total_ratings|
+-------+--------------------+-----------------+-------------+
|    356| Forrest Gump (1994)|4.185015290519877|          327|
|    318|Shawshank Redempt...|4.450793650793651|          315|
|    296| Pulp Fiction (1994)|4.285953177257525|          299|
|    593|Silence of the La...|4.212727272727273|          275|
|   2571|  Matrix, The (1999)|4.308550185873606|          269|
+-------+--------------------+-----------------+-------------+
only showing top 5 rows

popularMoviesDf: org.apache.spark.sql.DataFrame = [movieid: int, title: string ... 2 more fields]

In [31]:
// DIY
// cache popularMoviesDf
// check and print numver of partitions
// use coalesce to reuce to 1
// write to csv file in hadoop in directory /sql-popular-movies
// write to json file in hadoop in a directory /sql-popular-movies-json

// read sql-popular-movies from hadoop using inferSchema
// read sql-popular-movies-json using inferSchema

// explain popularMoviesDf with extended, go through plans..

In [32]:
// CREATE   TABLE AS SELECT -  CTAS query
spark.sql("""CREATE OR REPLACE TEMP VIEW most_popular_temp_table AS 
                    SELECT movieId, avg(rating) as avg_ratings, 
                                    count(userId) as total_ratings
                        from ratings 
                        WHERE rating > 1.0
                        group by movieId 
                        having avg_ratings >= 3.5 and total_ratings >= 100
                        order by avg_ratings desc
                    """)

res28: org.apache.spark.sql.DataFrame = []

In [33]:
spark.sql("SELECT * FROM most_popular_temp_table").show(4)

+-------+-----------------+-------------+
|movieId|      avg_ratings|total_ratings|
+-------+-----------------+-------------+
|    318|4.450793650793651|          315|
|    527|4.335680751173709|          213|
|   2959|4.325581395348837|          215|
|   1221|4.311023622047244|          127|
+-------+-----------------+-------------+
only showing top 4 rows

In [34]:
// Get DataFrame from a table
val df = spark.table("most_popular_temp_table")
df.printSchema()
df.show()

root
 |-- movieId: integer (nullable = true)
 |-- avg_ratings: double (nullable = true)
 |-- total_ratings: long (nullable = false)

+-------+------------------+-------------+
|movieId|       avg_ratings|total_ratings|
+-------+------------------+-------------+
|    318| 4.450793650793651|          315|
|    527| 4.335680751173709|          213|
|   2959| 4.325581395348837|          215|
|   1221| 4.311023622047244|          127|
|   2571| 4.308550185873606|          269|
|    858| 4.306282722513089|          191|
|    296| 4.285953177257525|          299|
|  48516| 4.283018867924528|          106|
|     50|  4.26980198019802|          202|
|    260| 4.259036144578313|          249|
|   1198| 4.258883248730965|          197|
|   1213|              4.25|          126|
|   4973| 4.241525423728813|          118|
|  58559| 4.238255033557047|          149|
|   1196| 4.233333333333333|          210|
|   1197| 4.232394366197183|          142|
|   1193|4.2272727272727275|          132|
|   1089| 4.226923076923077|          130|
|   1208| 4.219626168224299|          107|
|   2329| 4.217054263565892|          129|
+-------+------------------+-------------+
only showing top 20 rows

df: org.apache.spark.sql.DataFrame = [movieId: int, avg_ratings: double ... 1 more field]