In [ ]:
# Use Spark SQL with DataFrame, find the amount spend  by country code
from pyspark.sql.types import DoubleType,StructType, StringType, IntegerType, DateType
schema = StructType() \
         .add("InvoiceNo", StringType(), True) \
         .add("StockCode", StringType(), True) \
         .add("Description", StringType(), True) \
         .add("Quantity", IntegerType(), True) \
         .add("InvoiceDate", DateType(), True) \
         .add("UnitPrice", DoubleType(), True) \
         .add("CustomerID", IntegerType(), True) \
         .add("Country", StringType(), True)


df = spark.read.format("csv") \
                .option("header", True) \
                .schema(schema) \
                .option("dateFormat", "MM/dd/yyyy HH:mm")\
                .load("/FileStore/tables/data.csv")

df.show(2)

In [ ]:
from pyspark.sql.functions import col
 
filteredDf = df.filter ("Quantity  > 0 AND Quantity is NOT NULL" )
filteredDf.cache()
filteredDf.show(2)

In [ ]:
projectionDf = filteredDf.select ("Quantity", "UnitPrice",  "Country")
projectionDf.show(2)

In [ ]:
from pyspark.sql.functions import split, month, year
from pyspark.sql.functions import asc, desc, avg, col, count, avg, sum
import pyspark.sql.functions as F
# 1/17/2011 17:44 MONTH/DAY/YEAR
# projectionDf.withColumn("Date", split_col.getItem(0))\
 

from pyspark.sql.functions import concat, lit
projectionDf2 = projectionDf\
                            .withColumn("Amount",  col("Quantity") * col("UnitPrice"))\
                            .drop("Quantity", "UnitPrice")
                            
                            

#split_date = split(projectionDf["Date"],"/") 

projectionDf2.show(20)

In [ ]:
from pyspark.sql.functions import desc

resultDf = projectionDf2.groupBy("Country")\
                    .agg(sum("Amount"))\
                    .withColumnRenamed("sum(Amount)", "Amount")\
                    .sort(desc("Amount"))

resultDf.show(20)

In [ ]:
outputFile = "/FileStore/tables/assessment-5/results.csv"
# repartition will suffle data, good to be used between your analytics work, not end of the file writing
# coalesce - will not suffle data, reduce  the partition, good to be used before producing file
resultDf = resultDf.coalesce(1)
resultDf.write.mode("overwrite").option("header", True).format("csv").save(outputFile)